/*******************************************************************/
/*                                                                 */
/*                       MAIN LAYOUT                               */
/*                                                                 */
/*******************************************************************/

.site-main {
    min-height: 65vh;

    .section {
        .section-title {
            text-align: center;
            margin-top: 5rem;
        }

        .img-container {
            position: relative;
            text-align: left;

            .img-description {
                position: absolute;
                left: 0;
                right: 0;
                // top: 0;
                bottom: 0;

                background: rgba(0,0,0,.8);
                color: white;
                @include margin-y(0);
                @include padding-x(2rem);
                @include padding-y(.5rem);
            }
        }
    }

    .carousel .section {
        position: relative;
        text-align: center;
        margin-top: 5rem;

        .section-title {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            background: rgba(255,255,255,.6);
            margin-top: 0;
            @include padding-y(1rem);
        }

        button {
            &:focus, &:hover {
                outline: 0;
                cursor: pointer;
            }

            &#first, &#second, &#third {
                background: rgba(0,0,0,.5);
                border: 0;
                // color: rgba(0,0,0,.7);
                border-radius: 50%;
                height: 20px;
                width: 20px;
                @include margin-x(3px);
                margin-top: .5rem;

                &:focus, &:hover {
                    background: rgba(0,0,0,.8);
                }
            }

            &#prev, &#next {
                background: rgba(255,255,255,.6);
                border: 0;
                border-radius: 50%;
                color: rgba(0,0,0,.7);
                position: absolute;
                top: 40%;
                font-size: 1.5rem;
                @include padding-x(10px);
                @include padding-y(5px);

                &:hover {
                    background: rgba(255,255,255,.9);
                }
            }

            &#prev {
                left: 1rem;
            }

            &#next {
                right: 1rem;
            }
        }
    }

    .contact-form {
        label {
            display: block;
            @include margin-y(1rem);

            span {
                display: inline-block;
                width: 15%;
                text-align: right;
                padding-right: 1rem;
                box-sizing: border-box;
            }
        }

        input:not([type="checkbox"]):not([type="submit"]), textarea {
            width: 80%;
            border-radius: 10px;
            border: 1px solid $color__bossanova;
            @include padding-x(.6rem);
            @include padding-y(.5rem);
            box-sizing: border-box;
        }

        textarea {
            min-height: 10rem;
        }

        input[type="checkbox"], input[type="submit"] {
            margin-left: 15%;
        }

        input[type="submit"] {
            background-color: initial;
            border-radius: 10px;
            border: 1px solid $color__bossanova;
            @include padding-x(1rem);
            @include padding-y(.3rem);

            &:hover {
                background-color: $color__bossanova;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .contact-success-results {
        border: 2px solid $color__hippie-pink;
        border-radius: 1rem;
        @include padding-x(1rem);
    }
}

/*******************************************************************/
/* ================= end of main layout ========================== */
/*******************************************************************/
