/*--------------------------------------------------------------
## Define the main colors
--------------------------------------------------------------*/
$color__carnation: #f76e5b;
//rgb(247, 110, 91)
$color__bossanova: #422b5f;
//rgb(66, 43, 95)
$color__hippie-pink: #b24257;
//rgb(178, 66, 87)

/*--------------------------------------------------------------
## Define the support colors
--------------------------------------------------------------*/
