---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body {
    font-family: "Open Sans", arial, verdana, sans-serif;
    color: #141414;
}

header {
    img {
        width: 180px;
    }
}

h2 {
    text-transform: uppercase;
}

a {
    color: rgb(0,102,153);

    &:hover {
        color: rgb(0,61,91);
        font-weight: normal;
    }
}
