// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Margins
@mixin margin-x($value) {
    margin-left: $value;
    margin-right: $value;
}

@mixin margin-y($value) {
    margin-top: $value;
    margin-bottom: $value;
}

// Paddings
@mixin padding-x($value) {
    padding-left: $value;
    padding-right: $value;
}

@mixin padding-y($value) {
    padding-top: $value;
    padding-bottom: $value;
}
