/*******************************************************************/
/*                                                                 */
/*                           IMAGES                                */
/*                                                                 */
/*******************************************************************/

img {
    max-width: 100%;
    height: auto;
}

.site-main .img-container {
    img {
        display: block;
    }
}
