/*******************************************************************/
/*                                                                 */
/*                           IMAGES                                */
/*                                                                 */
/*******************************************************************/

img {
    width: 100%;
    height: auto;
}

.site-main .img-container {
    img {
        display: block;
        height: 40vw;
        object-fit: cover;
    }
}
